In [15]:
height = int(input())
weight =int(input())
bmi = weight/ (height**2)
print(bmi)

55
60
0.019834710743801654

In [6]:
a = 5
b = 5
if a == b:
    print("a is equal to b")
    print(1)
elif b != a:
    print("b is not equal to a")
else:
    print("both are different")

1

In [1]:
def function1():
    print(1)
    print(2)
    print(3)
print("this is outside function")

this is outside function

In [6]:
# BMI calculator
height = int(input())
weight =int(input())
bmi = weight/ (height**2)
print(bmi)
def BMIcalculator():
    height = int(input("Enter your height"))
    weight = int(input("Enter your weight"))
    bmi = weight/ (height**2)
    print(bmi)

6
6
0.16666666666666666

In [8]:
#power calculator
def powercal(x,y):
    return x**y

In [9]:
powercal(2,3)

8

In [21]:
#calculate addtion and substraction
number1 = int(input("Enter your number"))
number2 = int(input("Enter your number"))

def addition(number1 , number2):
    return number1 + number2
def substraction():
    sub = number1 - number2
    print("Substraction of number is: " +str(sub))

Enter your number6
Enter your number6

In [26]:
#Convert miles to kilometer
def conerkilometer(miles = float(input("Enter your value"))):
    result = 1.6 * miles
    print(str(miles) +" Miles are " + str(result) + " in Kilometer")
conerkilometer()

Enter your value8
8.0 Miles are 12.8 in Kilometer

# Lists

In [121]:
newlist = ["mango","mango","mango", "apple","orange","greyFruits"]
newlist.insert(0,"apple")
print(newlist)
newlist.extend(["pineapple","grapes","banana"])

['apple', 'mango', 'mango', 'mango', 'apple', 'orange', 'greyFruits']

In [122]:
newlist.index("apple")
"car" in newlist

False

In [119]:
newlist.clear()

[]

In [2]:
a = [3, 10, -1]
print (a)
a.append('a')
print (a)

[3, 10, -1]
[3, 10, -1, 'a']

In [5]:
a.append(["new list",1 ,2])

In [6]:
print (a)

[3, 10, -1, 'a', ['new list', 1, 2], ['new list', 1, 2]]

In [7]:
a.pop()

['new list', 1, 2]

In [9]:
print (a)

[3, 10, -1, 'a', ['new list', 1, 2]]

In [10]:
a[4]

['new list', 1, 2]

In [11]:
a[0] = 100

In [12]:
print(a)

[100, 10, -1, 'a', ['new list', 1, 2]]

In [13]:
b = ["banana", "apple", "microsoft"]

In [14]:
temp = b[0]
b[0] = b[2]
b[2] = temp

In [15]:
print(b)

['microsoft', 'apple', 'banana']

In [16]:
b[0] , b[2] = b[2] , b[0]
print(b)

['banana', 'apple', 'microsoft']

# slicing

In [131]:
#index      -5       -4          -3        -2        -1
students=["ALi","Faisal","Saleem","Hamza","Kashif"]
#index     0      1         2       3        4

In [132]:
print(students[0])
print(students[-5])

ALi
ALi

In [136]:
#students[start:end+1] slicing
students[1:3]
students[-4:-2]

['Faisal', 'Saleem']

In [1]:
a = list(range(1,50))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [140]:
a[0:30:2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

# Loops

In [ ]:
for i in b:
    print(i)

In [78]:
a = [20, 10, 5]
total = 0
for i in a:
    total = total + i
    print(total)

20
30
35

In [152]:
country = "Pakistan"

for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [84]:
# sum of 1, 2 , 3 ,4
c = list(range(1, 5))
total = 0
for i in c:
    total2 += i
print(total2)

10

In [101]:
#find the sum of only the multiple of 3
d = list(range(1,8))
total3 = 0
for i in d:
    if i % 3 == 0:
        total3 += i
print(total3)

9

In [16]:
#compute all multiple of 3,5 that are less than 100
e = list(range(1,100))
total4 = 0
for i in e:
    if(i % 3 == 0 or i % 5 == 0):
        total4 += i
print(total4)

2318

# for loop's break and continue

In [17]:
for number in range(10):
    if number%3 == 1:
        break
    print(number)

0

In [18]:
for number in range(10):
    if number%3 == 1:
        continue
    print(number)

0
2
3
5
6
8
9

# Nested for loop

In [157]:
for a in range(5):
    print("Inner loop begins")
    for char in "china":
        print(a, char)

Inner loop begins
0 c
0 h
0 i
0 n
0 a
Inner loop begins
1 c
1 h
1 i
1 n
1 a
Inner loop begins
2 c
2 h
2 i
2 n
2 a
Inner loop begins
3 c
3 h
3 i
3 n
3 a
Inner loop begins
4 c
4 h
4 i
4 n
4 a

In [158]:
tables = int(input("Enter the range of tables"))
for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table} * {num} = {table * num}")

Enter the range of tables6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

# While Loops

In [121]:
total2 = 0
j = 1
while j < 5:
    total2 += j
    j += 1
print(total2)

10

In [131]:
given_list = [5, 4, 4, 3, 1, 6]
total5 = 0
i = 0
while i < len(given_list) and given_list[i] > 0:
    total5 += given_list[i]
    i += 1
print(total5)

23

In [135]:
given_list1 = [5, 4, 4, 3, 1, -2, -3, -5]
total6 = 0
for element in given_list1:
    if element <= 0:
        break
    total6 += element
print(total6)

17

In [151]:
given_list1 = [5, 4, 4, 3, 1, -2, -3, -5]
total7 = 0
i = 0
while  True:
    total7 += given_list1[i]
    i += 1
    if given_list1[i] <= 0:
        break
   

print(total7)

17

In [ ]:
given_list1 = [5, 4, 4, 3, 1, -2, -3, -5]
total8 = 0
i = 0
while i < len(given_list1) and True:
    if given_list1[i] <= 0:
        total8 += given_list1[i]
        i += 1 
        print(total8)

In [13]:
a = ["banana", "apple", "microsoft"]
for i in range(len(a)):
    for j in range(i + 1):
        print(a[i])

banana
apple
apple
microsoft
microsoft
microsoft

# Dictionaries

In [25]:
d = {}
#d = {"George" : 24, "Tom":32}
d["George"] = 24
d["Tom"] = 32
d["jenny"] = 16
d[10] = 100

In [26]:
d["jenny"] = 20
print(d[10])

100

In [34]:
for Key, value in d.items():
    print(f"Key: {Key} ")
    print(f"value:{value} ")
    print("")

Key: George
value:24

Key: Tom
value:32

Key: jenny
value:20

Key: 10
value:100

# class

In [77]:
class Robot:
    def __init__(self,name, color, weight):
        self.name = name
        self.color = color
        self.weight = weight
        
    def instroduce_self(self):
        print("My name is "+self.name)
        print("My color is " + self.color)
        print("My Weight is " + str(self.weight))
        print(" ")

In [80]:
#r1 = Robot()
#r1.name = "Tom"
#r1.color = "Red"
#r1.weight = 30

#r2 = Robot()
#r2.name = "Jerry"
#r2.color = "blue"
#r2.weight = 40
r1 = Robot("Tom","Red",30)
r1 = Robot("Jerry","blue",40)

In [81]:
r1.instroduce_self()
r2.instroduce_self()

My name is Jerry
My color is blue
My Weight is 40

My name is Jerry
My color is blue
My Weight is 40

In [86]:
a = [1, 3, 5, 7, 9, 11]
c = []
for x in a:
    c.append( x * 2)
print(c)

[2, 6, 10, 14, 18, 22]

In [88]:
d = [x * 2 for x in a]
print(d)

[2, 6, 10, 14, 18, 22]

In [95]:
e = [1, 2, 3, 4, 5, 6]
f = []
for x in range(6, 0, -1):
    f.append(x**2)
print (f)

[36, 25, 16, 9, 4, 1]

In [100]:
g = [x**2 for x in range(6, 0, -1)]
print(g)

[36, 25, 16, 9, 4, 1]

In [97]:
print(g)

[36, 25, 16, 9, 4, 1]

# Tupples

In [35]:
#tupples are immutable
atupple = ("nasir", 100, "hussain")

In [39]:
len(atupple)
a = 1, 2, 3,
print(a)
#a.count(2)
#a.index(3)

(1, 2, 3)

In [2]:
def pizzaOrder(Size, flavour, *toppings):#arbitarary arguments with *
    print(f"your order for pizza of size {Size}, and flavour {flavour} and topping are {toppings}")

In [3]:
pizzaOrder(12,"ChickenTikka", "Olives", "cabsicum", "Onions")

your order for pizza of size 12, and flavour ChickenTikka and topping are ('Olives', 'cabsicum', 'Onions')

c# Functions within a functions

In [16]:
def commissionCalc(sales):
    if sales > 100:
        return 100 * 100
    elif sales > 50:
        return sales * 50
    elif sales > 20:
        return sales * 20
    else: return 0


def salaryCalc(basic, sales):
    grosssalary = basic + commissionCalc(sales)
    
    print(f"Your gross salary is {grosssalary}")

In [17]:
salaryCalc(5000, 150)

Your gross salary is 15000